div
  h2 test 123
  p &nbsp;

div.sp-boxframe
  div.sp-box
    h2 My Headline
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  div.sp-box
    h2 My Headline
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  div.sp-box
    h2 My Headline
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

div
  p &nbsp;

div.sp-tables
  table#myplans
    thead
      tr
        th.col-1 NOW
        th(colspan="2").col-2 NEXT WEEK
        th.col-3 LAST YEAR
    tbody
        tr.mp-heading
          td.col-1.row-head
            span Monday
          td.col-2.row-head.row-hi-head
            span Tuesday
          td.col-3.row-head
            span Wednesday
          td.col-4.row-head
            span Thursday
        tr.mp-content
          td.col-1.row-body
            div.mp-b-text No changes
          td.col-2.row-body.row-hi-body
            div.mp-b-text  N/A
          td.col-3.row-body
            div.mp-b-text No changes
          td.col-4.row-body
            div.mp-b-text N/A
        tr.spacer
          td(colspan="5").colspacer
