doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block title
      title Default title

    link(rel='apple-touch-icon', href='apple-touch-icon.png')

    //- build:css css/vendor.css
    block stylesheets
    // bower:css
    // endbower
    //- endbuild

    link(href='http://fonts.googleapis.com/css?family=PT+Sans', rel='stylesheet')
    link(href='css/styles.css', rel='stylesheet')

  body
    block content

    //- build:js js/vendor.js
    block scripts
    // bower:js
    // endbower
    //- endbuild

    //script(src='js/bundle.js')
    script(src='js/app.js')

